# Allow install with ESLint 10 until plugins update peer deps
# eslint-plugin-import, eslint-plugin-compat etc. work with ESLint 10
# but have not yet declared it in their peerDependencies
legacy-peer-deps=true
